
<!DOCTYPE html><html><head><title>百度书城</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/><meta name="apple-mobile-web-app-capable" content="yes"/><meta name="format-detection" content="telephone=no"/><meta name="apple-mobile-web-app-status-bar-style" content="white"/><link href="css/mbook.min.css" rel="stylesheet" type="text/css"><script type="text/javascript" src="js/zpmuslazy.min.js"></script><script type="text/javascript" src="js/wxbook.js"></script><link rel="icon" href="javascript:void(0)http://img.m.shucheng.baidu.com/operateimg/img/img/h5book/16.ico" type="image/x-icon" /><link rel="shortcut icon" href="javascript:void(0)http://img.m.shucheng.baidu.com/operateimg/img/img/h5book/16.ico" type="image/x-icon" /></head><body><header class="header">
	<div class="new_h5_head">
		<a class="ch_male" href="javascript:void(0)javascript:history.back();"></a>
		<a>热血都市</a>
		<a class="font-name" onclick="javascript:void(0)location.href='/?fr=hao123&bck=41'">首页</a>
	</div>
</header>
<menu class="fication_tab">
	<div class="" data-tag="new">最新</div>
	<div class="active" data-tag="hot">懒人模板制作</div>
</menu>

<div id="new_book" class="books " style="display:none;" data-tag="new">
	<div id="new_book_content"><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=9623032&bck=41&pos=0&urbid=%2Fcategory%2Fdetail_41_0'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/65/CwsAh1dq6X2ASWiFAAAZCCemVH4691.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">混世小农民</div>
                <div class="number_du">157人读过</div>
            </div>
            <div class="new-Author">公子无花</div>
            <div class="infor-name">小农民气运惊人，走出山村，艳遇不断，女总裁要包养，女市长要倒贴……...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=368504030&bck=41&pos=1&urbid=%2Fcategory%2Fdetail_41_1'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/93/CwsAh1drke2AV_lNAAAYXlg-bCk893.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">桃运天王</div>
                <div class="number_du">35人读过</div>
            </div>
            <div class="new-Author">孤寂之狼</div>
            <div class="infor-name">一个桃运漫天的少年孤身来到花花都市，面对各色美女的诱惑，他是从呢？...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=9480032&bck=41&pos=2&urbid=%2Fcategory%2Fdetail_41_2'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/36/CwsAiFdq2ryAH99QAAAc3Dyl3UE630.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">迷情之夜：美女上司抱紧我</div>
                <div class="number_du">121人读过</div>
            </div>
            <div class="new-Author">初雨后情</div>
            <div class="infor-name">酒吧邂逅醉酒后的美女老总，欲望驱使下他霸王硬上弓。一夜春风后，自此...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=907032&bck=41&pos=3&urbid=%2Fcategory%2Fdetail_41_3'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/3F/CwsAh1dq3SeAF-19AAAdQHPCiZQ374.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">异灵守护者</div>
                <div class="number_du">11人读过</div>
            </div>
            <div class="new-Author">大偿赶君</div>
            <div class="infor-name">灵异与现实，美女与野兽，正义与邪恶的较量！</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=8780032&bck=41&pos=4&urbid=%2Fcategory%2Fdetail_41_4'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/37/CwsAhldq2zeAZcWxAAAbhpzpKBI742.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">宰辅天王</div>
                <div class="number_du">15人读过</div>
            </div>
            <div class="new-Author">龙氏麒麟</div>
            <div class="infor-name">娱乐圈的妖孽天王！</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=8774032&bck=41&pos=5&urbid=%2Fcategory%2Fdetail_41_5'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/65/CwsAiFdq6ZuAFHL7AAAXN22Zvd8834.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">商海弄潮</div>
                <div class="number_du">2人读过</div>
            </div>
            <div class="new-Author">小宗飞狮</div>
            <div class="infor-name">内容提要历史的车轮转到九十年代初期，燕山南麓的钱守义、顾一鸣、张磊...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=874032&bck=41&pos=6&urbid=%2Fcategory%2Fdetail_41_6'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/3E/CwsAiFdq3UWAMYqaAAAZ4pZrM5k622.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">孽债情缘</div>
                <div class="number_du">6人读过</div>
            </div>
            <div class="new-Author">不能回头的鱼</div>
            <div class="infor-name">将快乐与痛苦感联系在一起的一场轰轰烈烈的恋爱，却也是一场通过痛苦而...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=8303032&bck=41&pos=7&urbid=%2Fcategory%2Fdetail_41_7'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/6B/CwsAhldq626AGWz4AAAYxncuGFc234.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">水晶的一滴泪</div>
                <div class="number_du">2人读过</div>
            </div>
            <div class="new-Author">宇小川</div>
            <div class="infor-name">特殊年代，当年的荒唐，一晃已过去多年，暮然回首，那些年的暧昧情史依...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=8300032&bck=41&pos=8&urbid=%2Fcategory%2Fdetail_41_8'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/6B/CwsAhldq642AKrLcAAAjM32NYVI556.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">浴火重生之我是传奇</div>
                <div class="number_du">10人读过</div>
            </div>
            <div class="new-Author">欲火重生之刘雄</div>
            <div class="infor-name">故事的主人公因为意外的事故导致自己穿越到了儿时的年代，见到了去世的...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=8296032&bck=41&pos=9&urbid=%2Fcategory%2Fdetail_41_9'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/3A/CwsAh1dq26GALM4MAAAT2qPnl5U010.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">熏之恋</div>
                <div class="number_du">2人读过</div>
            </div>
            <div class="new-Author">韩奕</div>
            <div class="infor-name">冷熏儿（是个缊纯的姐姐姐姐）
性格：很冷，，与冰山有等比
&#160;（时...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=7876032&bck=41&pos=10&urbid=%2Fcategory%2Fdetail_41_10'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/3B/CwsAh1dq29yAXhnzAAAaCuSfPBs862.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">极品修真小胖</div>
                <div class="number_du">14人读过</div>
            </div>
            <div class="new-Author">乐乐的羽翼</div>
            <div class="infor-name">当一位被誉为不食烟火的大神穿越了时空回到过去，和一个史上最色的胖子...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=7870032&bck=41&pos=11&urbid=%2Fcategory%2Fdetail_41_11'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/39/CwsAhldq2-uAFcZ0AAAUe7lrP7I503.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">爱上伤疤</div>
                <div class="number_du">3人读过</div>
            </div>
            <div class="new-Author">明天此刻</div>
            <div class="infor-name">身为一名出色警察的刘志明在一次追捕中误伤人质，不知不觉中竟然落入别...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=7858032&bck=41&pos=12&urbid=%2Fcategory%2Fdetail_41_12'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/70/CwsAiFdq7NKADXzpAAAb1CPbAnE193.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">富有天下</div>
                <div class="number_du">7人读过</div>
            </div>
            <div class="new-Author">冷无痕</div>
            <div class="infor-name">在一个普遍仇富的社会里，李然坐拥娇妻美妾、豪宅无数，却罕见的为人津...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=7817032&bck=41&pos=13&urbid=%2Fcategory%2Fdetail_41_13'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/72/CwsAhldq7buAOenPAAAX4nbhuYU913.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">我的冰山女总监</div>
                <div class="number_du">10人读过</div>
            </div>
            <div class="new-Author">十年</div>
            <div class="infor-name">加班，不料发现冰山女总监来月事，男职员却阴差阳差帮她送卫生巾，因此...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=65032&bck=41&pos=14&urbid=%2Fcategory%2Fdetail_41_14'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/46/CwsAiFdq37mARrUYAAAYEZSbW9A357.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">绝品雇佣兵</div>
                <div class="number_du">17人读过</div>
            </div>
            <div class="new-Author">SKy李文博</div>
            <div class="infor-name">【美女作家浅烟特邀签约作品】
 【责编：一组责编想容】
 徐延东的父亲...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=64774166&bck=41&pos=15&urbid=%2Fcategory%2Fdetail_41_15'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/C5/CwsAhldroBmAZoHRAAAUiRghPd0321.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">乡村小神仙</div>
                <div class="number_du">44人读过</div>
            </div>
            <div class="new-Author">萧然</div>
            <div class="infor-name">萧山盛，被女友母亲拒婚，在公王庙偶得一玉瓶，学会行云布雨法术，护佑...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=64595166&bck=41&pos=16&urbid=%2Fcategory%2Fdetail_41_16'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/C8/CwsAiFdroFqABII4AAAY4NuCoC0147.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">我的娇美秘书</div>
                <div class="number_du">35人读过</div>
            </div>
            <div class="new-Author">原始罪孽</div>
            <div class="infor-name">参加别人婚礼，美丽新娘却在酒店开好房间，宽衣解带只为等他，说要赔罪...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=636032&bck=41&pos=17&urbid=%2Fcategory%2Fdetail_41_17'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/76/CwsAhldq7vKATIhlAAAdHzqPlzw800.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">殷少，你弄疼我了</div>
                <div class="number_du">9人读过</div>
            </div>
            <div class="new-Author">郗伊唸</div>
            <div class="infor-name">假如来生不再是一场戏    
 幸福不再是精彩的回忆    
 我愿陪你再生再...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=5563032&bck=41&pos=18&urbid=%2Fcategory%2Fdetail_41_18'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/74/CwsAiFdq7hyAd1G6AAAWBI-y1ZQ087.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">女权</div>
                <div class="number_du">5人读过</div>
            </div>
            <div class="new-Author">昨夜风吹雨</div>
            <div class="infor-name">她本以为自己可以一片坦途，却被现实打破了梦想，破碎的梦片片坠落，肮...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=552032&bck=41&pos=19&urbid=%2Fcategory%2Fdetail_41_19'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/1B/76/CwsAhldq7wmAdOuzAAAUxaLiBho624.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">我的美女大小姐</div>
                <div class="number_du">12人读过</div>
            </div>
            <div class="new-Author">伊晓枫</div>
            <div class="infor-name">大学刚刚毕业的宅男写手关轻扬因为一次逛街意外地与千金美女叶娇产生了...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div></div>
	<div id="new_more_book" class="more_h5 more_book"><a>点击加载更多 <em class="ico"> </em></a></div></div>

<div id="hot_book" class="books " data-tag="hot">
	<div id="hot_book_content"><div class="book-pic-list">
    <div class="al" onclick="location='article.htm'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/68/84/CwsASFbnubaAYQ4CAAAYZBdfNSA591.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">特种兵在都市</div>
                <div class="number_du">1080205人读过</div>
            </div>
            <div class="new-Author">夜十三</div>
            <div class="infor-name">杨洛曾经是一名让所有国家军人闻名丧胆的兵王，他是地下世界大名鼎鼎的...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=427074031&bck=41&pos=1&urbid=%2Fcategory%2Fdetail_41_1'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/0B/BD/CwsAS1bMRFWAXYs8AAAWAMPnXm0704.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">女村长的贴身神医</div>
                <div class="number_du">303703人读过</div>
            </div>
            <div class="new-Author">醉不乖</div>
            <div class="infor-name">消失六年的徐方突然回到家乡，没想到家里住着新上任的女村长。
徐方决...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=470711121&bck=41&pos=2&urbid=%2Fcategory%2Fdetail_41_2'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/5D/DB/CwsAS1XMRG-ACiJbAAAd9y4VihQ478.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">透视高手</div>
                <div class="number_du">110552人读过</div>
            </div>
            <div class="new-Author">覆手</div>
            <div class="infor-name">他是拥有天眼通的医道圣手、地下世界的一流兵王，因为娶了一个极品任性...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=384410121&bck=41&pos=3&urbid=%2Fcategory%2Fdetail_41_3'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/91/6A/CgoAM1QEMiuAUA2jAAAa5aiWD7o536.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">女总裁的贴身保镖</div>
                <div class="number_du">1266035人读过</div>
            </div>
            <div class="new-Author">我是三羊</div>
            <div class="infor-name">他曾是最优秀的保镖。
在被迫退役后，来到了中海市和他那从未见过的未...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=426521031&bck=41&pos=4&urbid=%2Fcategory%2Fdetail_41_4'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/08/FF/CwsASlbMQ0iAOFS4AAAZEDTNd-4773.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">逍遥小村医</div>
                <div class="number_du">141285人读过</div>
            </div>
            <div class="new-Author">闻曲星</div>
            <div class="infor-name">杨明采药回来，撞见美女方便时，一不小心掉进了山崖，却因祸得福拥有了...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=3042697015&bck=41&pos=5&urbid=%2Fcategory%2Fdetail_41_5'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/32/1E/CwsASFaLpxOAKY2PAAAUAsqId-4632.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">一号红人</div>
                <div class="number_du">250790人读过</div>
            </div>
            <div class="new-Author">山间老寺</div>
            <div class="infor-name">李睿在单位里被美女上司无情欺压，家里面老婆红杏出墙，陷入了人生最低...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=3029399015&bck=41&pos=6&urbid=%2Fcategory%2Fdetail_41_6'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/34/4D/CgoAM1P9S3GADk11AAAWqVqWTPg531.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">我和美女院长</div>
                <div class="number_du">409148人读过</div>
            </div>
            <div class="new-Author">无相</div>
            <div class="infor-name">一个小小的外科医生，喝醉了酒，醒来一看，自己身边睡着漂亮的她……</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=411993121&bck=41&pos=7&urbid=%2Fcategory%2Fdetail_41_7'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/69/3B/CwsASFbryBWAUw2bAAAdIBchvEg816.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">最强狂兵</div>
                <div class="number_du">584657人读过</div>
            </div>
            <div class="new-Author">烈焰滔滔</div>
            <div class="infor-name">一代兵王含恨离开部队，销声匿迹几年后，逆天强者强势回归都市，再度掀...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=206808121&bck=41&pos=8&urbid=%2Fcategory%2Fdetail_41_8'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/11/75/CwsASFZYCQiATlGuAAAXJtIOyEE597.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">老子是村长</div>
                <div class="number_du">385765人读过</div>
            </div>
            <div class="new-Author">魔语冰殇</div>
            <div class="infor-name">穷乡僻壤一乡村，山清水秀桃花源；
权倾天下小村官，富可敌国大富翁。...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=10946030192&bck=41&pos=9&urbid=%2Fcategory%2Fdetail_41_9'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/0E/FB/CwsASlbhT6iAXc5yAAAXlYAUqdM826.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">特种兵王闯都市</div>
                <div class="number_du">21584人读过</div>
            </div>
            <div class="new-Author">天空</div>
            <div class="infor-name">他是特种兵世界的王者，他是令各国元首头疼的兵王！徐川，一代兵王，这...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=57031006&bck=41&pos=10&urbid=%2Fcategory%2Fdetail_41_10'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/C1/62/CwsAS1ZcKMqAV2c6AAAYWDFMp5Q206.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">女总裁的贴身兵王</div>
                <div class="number_du">1448480人读过</div>
            </div>
            <div class="new-Author">黑夜不寂寞</div>
            <div class="infor-name">帮美女解决麻烦，可帮来帮去，最后她们都成了自己的麻烦。
他是华夏超...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=64508006&bck=41&pos=11&urbid=%2Fcategory%2Fdetail_41_11'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/E8/BE/CwsAS1aXKx6AYNVYAAAcpL0tinE380.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">都市鬼谷医仙</div>
                <div class="number_du">13623人读过</div>
            </div>
            <div class="new-Author">一念</div>
            <div class="infor-name">身具鬼谷道门奇术与医术的林煜入世修心。 他通天道，知阴阳，以一手鬼...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=62305081&bck=41&pos=12&urbid=%2Fcategory%2Fdetail_41_12'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/67/FA/CgoAS1QALqOAUdIsAAAY0A28EAc783.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">极品桃花运</div>
                <div class="number_du">799328人读过</div>
            </div>
            <div class="new-Author">何老狐</div>
            <div class="infor-name">七生花，七种异能。
绝世佳肴？我挥手之间；天籁之乐，我随便就能唱出...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=390470121&bck=41&pos=13&urbid=%2Fcategory%2Fdetail_41_13'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/02/B3/CgoAM1QTD56AROI7AAAflCPcOeE071.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">特种神医</div>
                <div class="number_du">789041人读过</div>
            </div>
            <div class="new-Author">步行天下</div>
            <div class="infor-name">杜仲，失传已久的上古医术唯一继承人，无人知晓的超级兵王，可他竟然在...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=390021121&bck=41&pos=14&urbid=%2Fcategory%2Fdetail_41_14'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/02/BB/CgoAS1QTD46AT_-1AAAZqwJoXAk212.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">极品透视</div>
                <div class="number_du">721139人读过</div>
            </div>
            <div class="new-Author">赤焰圣歌</div>
            <div class="infor-name">【赤焰盟出品】
     醒掌天下权，醉卧美人膝，乃是每一个男人的终极目...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=470520121&bck=41&pos=15&urbid=%2Fcategory%2Fdetail_41_15'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/4C/85/CwsAS1V1zf2AMQSAAAAZ4sJj1Gw836.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">绝品强少</div>
                <div class="number_du">4810人读过</div>
            </div>
            <div class="new-Author">步履无声</div>
            <div class="infor-name">我有三个爷爷。
大爷爷是华夏神医。
二爷爷是古武高手。
三爷爷是杀手...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=402604121&bck=41&pos=16&urbid=%2Fcategory%2Fdetail_41_16'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/16/E9/CwsASFZcKJGALbQXAAAdnvODZQg374.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">美女房东的贴身护卫</div>
                <div class="number_du">637340人读过</div>
            </div>
            <div class="new-Author">星沙公子</div>
            <div class="infor-name">身怀绝世身手，保护落魄的绝世美女。不仅要保护她不被二代、黑帮骚扰，...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=373376121&bck=41&pos=17&urbid=%2Fcategory%2Fdetail_41_17'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/91/71/CgoAS1QEMgmAbUc4AAAeEa4wfvQ060.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">王牌保镖</div>
                <div class="number_du">239268人读过</div>
            </div>
            <div class="new-Author">风起天阑</div>
            <div class="infor-name">昆仑少年叶离武道入圣，医术无双，下山入世，调戏性感御姐，拯救傲娇警...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=48826050&bck=41&pos=18&urbid=%2Fcategory%2Fdetail_41_18'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group1/M00/1B/FE/CwsASlUlGkSAahy6AAAXJ95sTYE584.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">都市特种兵</div>
                <div class="number_du">65240人读过</div>
            </div>
            <div class="new-Author">无冬夜</div>
            <div class="infor-name">一代兵王低调潜回都市，低调档期包租公，然而，一位神秘大小姐的突然入...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div><div class="book-pic-list">
    <div class="al" onclick="javascript:void(0)location='/book?fr=hao123&bkid=2839062&bck=41&pos=19&urbid=%2Fcategory%2Fdetail_41_19'">
        <div class="img"><img src="http://img.m.shucheng.baidu.com/operateimg/img/img/18717/18717.jpg" data-original="http://img.shucheng.platform.zongheng.com/novel/group2/M00/0E/5D/CwsAiFcxrIiAXZenAAAbQKVi3Ks983.jpg"></div>
        <div class="conter">
            <div class="name_lie">
                <div class="book_name">超品兵王</div>
                <div class="number_du">5338人读过</div>
            </div>
            <div class="new-Author">爆护大队长</div>
            <div class="infor-name">低调小商贩，邂逅逃婚千金大小姐，无奈卷入是非中，再掀世界雇佣兵之王...</div>
        </div>
    </div>
</div>
<div class="bg_witer">
    <hr align="center" size="1" color="#efefef" class="fenge">
</div></div>
	<div id="hot_more_book" class="more_h5 more_book"><a>点击加载更多 <em class="ico"> </em></a></div></div>

<script type="text/javascript">

$(function(){
	var v = {
			'type' : "8",
			'url' : "/category/ajaxGetBook?fr=hao123&_ajax=1&path=%2Fcategory%2Fdetail",
			"pg" : 2,
			"reset" : function(id){
				 this.type =id;this.pg = 1;
				 $("#" + currentTag + "_book_content").html("");
			},
			'rankType' : '',
			'l' : false,
			"get" : function(){
				var u = this.url +"&id="+ this.type+ "&ranktype=" + this.rankType + "&pg="+this.pg,
					$this = this;
				if(this.l || !this.pg) return false;
				$.ajax({
					"type" : "GET",
					"url" : u,
					 "dataType": 'json',
					 "timeout": 5000,
					"beforeSend" : function(){
						$this.l = true;
						$("#" + $this.rankType + "_more_book a").html('正在加载');
					},
					"complete" : function(){
						$this.l = false;
						$("#" + $this.rankType + "_more_book a").html('点击加载更多<em class="ico"> </em>');
					},
					"success" : function(data){
						if(data.haveMore != undefined){
							if(data.haveMore){
								$this.pg +=1;
								$("#" + $this.rankType + "_more_book").show();
							}else{
								$this.pg = 0;
								$("#" + $this.rankType + "_more_book").hide();
							}
						}
						if(data.content != undefined ){
							$this.append(data.content);
						}
					}
				})
			},
			append : function(data){
				console.dir(this);
				$("#" + this.rankType + "_book_content").append(data);
				$('body').imglazyload({
					filter : 'img'
				});
			}
	};
	
	var v_new = {};
	var v_hot = {};
	$.extend(v_new, v);
	$.extend(v_hot, v);
	v_new.rankType = 'new';
	v_hot.rankType = 'hot';
	
	$("#new_more_book").on("click", function(){
		v_new.get();
	});
	$("#hot_more_book").on("click", function(){
		v_hot.get();
	});
	
	$('.fication_tab>div').bind("click",function(){
		$('.fication_tab .active').removeClass("active");
		$(this).addClass("active");
		
		var tag = $(this).data("tag");
		currentTag = tag;
		
		$(".books").each(function() {
			if ($(this).data("tag") == tag) $(this).show();
			else $(this).hide();
		});
		
		$('body').imglazyload({
			filter : 'img'
		});
	});
});
</script>
<div class="new_so down-top">
	<div class="so-input">
		<input id="keyword_35" type="text" placeholder="作者名/书名">
	</div>
	<div class="soso_ico _search_35"></div>
</div>

<script>
$(function(){
	var u = "/search?fr=hao123&bck=42&isSection=";
	$("._search_35").on("click", function()
	{
		var k = $("#keyword_35").val();
		if(k){  location.href = u + (~u.search("\\?") ? "&" : "?")+'keyword='+ encodeURIComponent(k);
		}
		else
			{
			 location.href = u + (~u.search("\\?") ? "&" : "?");
			}
	});
})
</script><footer class="new-footer"><a href="javascript:void(0)#"><div class="bac_to_top" id="bac_to_top"></div></a><div class="foot-two"><a href="javascript:void(0)/category/detail?fr=hao123&id=8&pos=0&bck=35&v=2">极速版</a><a class="active">触屏版</a><a href="javascript:void(0)/sys/log?fr=hao123&bck=228&url=https%3A%2F%2Fitunes.apple.com%2Fcn%2Fapp%2Fpandareader%2Fid327313778%3Fl%3Den%26mt%3D8%26datestamp%3D1467268261" >客户端</a></div><div class="foot_four">&copy;2016百度书城</div></footer></body><script type="text/javascript"> 
     /*创建于2016-06-14*/ 
     var cpro_id = "u2671677";
</script></html>